/*#menu-button{
    color: #E5BB22;

}*/
#menu-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#nama-website{
    color:#E5BB22;
    font-weight: bold;
}

#menu-button-ic{
    border-color: #E5BB22;
    color: #E5BB22;
}

.daftar-button{
    border: 1px solid;
    border-color:#E5BB22;
    border-radius: 10px;
    background-color:#E5BB22;
}

.daftar-button:hover{
    background-color: #DFB621;
}

#navbarNav a{
    color: #1F1903;
    font-weight:500;
}

#menu-choice a:hover{
    color: #E5BB22;
    font-weight:700;
}

.data-container{
    margin-top: 100px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.data-container h2{
    color: #E5BB22;
    margin-top: 10px;
    margin-bottom: 30px;
}

.table thead th{
    background-color: #E5BB22;
}

