
/*#menu-button{
    color: #E5BB22;

}*/
#menu-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#nama-website{
    color:#E5BB22;
    font-weight: bold;
}

#menu-button-ic{
    border-color: #E5BB22;
    color: #E5BB22;
}

.daftar-button{
    border: 1px solid;
    border-color:#E5BB22;
    border-radius: 10px;
    background-color:#E5BB22;
}

.daftar-button:hover{
    background-color: #DFB621;
}

#navbarNav a{
    color: #1F1903;
    font-weight:500;
}

#menu-choice a:hover{
    color: #E5BB22;
    font-weight:700;
}

.main-container{
    margin-top: 120px;
}

.main-container h2{
    color: #E5BB22;
    text-align: center;
}

#service-container{
    margin-top: 20px;
}

#judul{
    margin-top: 30px;
    text-align: center;
    color: rgb(222, 225, 230);
}
#isi{
    margin-top: 35px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: rgb(222, 225, 230);
}

.flip-card {
  background-color: transparent;
  width: 290px;
  height: 400px;
  perspective: 1000px;
  margin: 40px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.flip-card-back{
    padding: 10px;
}

/*-----------flipcard1-------------*/
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #FEDF47;
  color: black;
  transform: rotateY(180deg);
}

/*-----------flipcard2-------------*/
